html, body {
    font-family: 'Lora', serif;
    overflow-x: hidden;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    max-width: 10%;
    /* object-fit: cover; */
}

.header {
    color: rgb(4, 4, 93);
}

.menu-items {
    display: flex;
    justify-content: space-around;
    gap: 1.4rem;
    margin-top: 2.4rem;
    margin-left: 20rem;

}

.menu-items a {
    text-decoration: none;
    color: rgb(4, 4, 93);
}

.vacation {
    background-image: url("./images/resort.jpeg");
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.beautiful-hideaway {
    margin-top: -0.3rem;
    font-size: 0.7rem;
}

.two-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8rem;
    font-size: 0.8rem;
}

.two-buttons a:hover {
    color:rgb(4, 4, 93);
    background-color: #ffffff;
}

.search-room {
    margin-right: 7rem;
    margin-bottom: 4rem;
    padding: 1rem 4rem 2.5rem 2rem;
    background-color: #ffffff;
    color:rgb(18, 18, 19);
}

.latest-response {
    margin-top: -1.2rem;
    font-size: 0.7rem;
}

.check-in-out {
    display: flex;
    flex-flow: column;
}

.tourists {
    display:flex;
    flex-flow: column;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: rgb(4, 4, 93);
}

input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

select {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
}

.check button{
    background-color: rgb(4, 4, 93);
    color: #ffffff;
    border: none;
    margin-top: 2rem;
    padding: 1rem 8rem 1rem 8rem;
}

.welcome-lines {
    display:flex;
    flex-flow: column;
}

.welcome-text {
    font-size: 0.9rem;
}

.mikalto-text {
    font-size: 2rem;
    margin-top: -0.2rem;
}

.comfort-text {
    font-size: 2rem;
    margin-top: -2rem;
}

.welcome-passage-and-manager {
    margin-top: -0.6rem;
    margin-right: 50rem;
}

.sign-image {
    max-width: 100%;
    width: 10rem;
}

.causes {
    display: flex;
    margin-left: 12rem;
    margin-right: 7rem;
    gap: 3rem;
}

.causes img {
    max-width: 100%;
    width: 6rem;
    height: 5rem;
}

.particular-cause {
    display: flex;
}

.location-image {
    max-width: 100%;
    width: 6rem;
    height: 5rem;
}

@media screen and (min-width: 320px){
    .header {
        margin-left: 2rem;
    }

    .mikalto {
        font-size: 2rem;
    }
    
    .hotel-resort {
        margin-top: -1rem;
        margin-left: 0.2rem;
        font-size: 0.6rem;    
    }

    .menu-items {
        display: block;
        margin-left: 3rem;
    }

    .vacation {
        display:flex;
        flex-flow: column;
        margin-top: 2rem;
        margin-left: -0.7rem;
        margin-right: -0.2rem;
        background-size: 22rem;
        background-repeat: no-repeat;
    }

    .about {
        display: flex;
        flex-flow: column;
        font-size: 1.8rem;
        color: rgb(200, 242, 242);
        margin-top: -1.4rem;
        margin-left: 2rem;
        margin-right: 10rem;
    }

    .enjoy-text {
        margin-top: 1.5rem;
    }

    .vacation-text {
        margin-top: -1.3rem;
    }

    .beautiful-hideaway {
        display: none;
    }

    .two-buttons {
        margin-top: -1rem;
        margin-bottom: 2rem;
        margin-left: 6rem;
    }

    .view-button {
        margin-left: 1rem;
    }

    .two-buttons a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1rem;
    }

    .search-room {
        margin-top: 0.2rem;
        margin-left: -1rem;
        font-size: 1.6rem;
    }

    .check-date {
        display:flex;
        font-size: 0.8rem;
        color: rgb(4, 4, 93);
        gap: 1rem;
    }

    .check button {
        margin-left:-0.5rem;
        padding-left: 8rem;
        font-size: 1rem;
    }

    .tourists {
        font-size: 0.8rem;
    }

    .search-room-text {
        font-size: 1.27rem;
        margin-bottom: 1.4rem;
    }

    .welcome {
        display: flex;
        flex-flow: column;
        position: relative;
    }

    .welcome-lines {
        margin-top: -5rem;
        margin-left: 1rem;
    }

    .welcome-images {
        position: absolute;
        top:6rem;
    }

    .man-cooking {
        margin-left: 1rem;
        width: 8.6rem;
    }

    .window-view {
        margin-bottom: 3rem;
        margin-left: -1.5rem;
        width: 10rem;
    }
    
    .hotel-view {
        margin-left: 4rem;
        margin-top: -4.6rem;
        margin-bottom: 11rem;
        width: 12rem;
    }

    .words-of-manager {
        top:12rem;
        position: relative;
    }

    .welcome-passage-and-manager {
        margin-bottom: -0.1rem;
        margin-top: 5rem;
        margin-right: -0.5rem;
        font-size: 0.9rem;
    }

    .sign-image {
        position: absolute;
        top: 12rem;
    }

    .manager {
        margin-top: 6rem;
    }

    .standard {
        display: flex;
        flex-flow: column;
        background-color: rgb(5, 5, 104);
        margin-top: 13rem;
    }

    .elegance {
        color: goldenrod;
        font-size: 0.7rem;
        text-align: center;
        
    }

    .standard-room {
        color: #ffffff;
        font-size: 1.9rem;
        text-align: center;
        margin-top: -1rem;
    }

    .rate {
        color: #ffffff;
        font-size: 1.2rem;
        margin-top: 1rem;
        margin-left: 5rem;
    }

    .room-summary {
        color: #ffffff;
        font-size: 0.9rem;
        text-align: center;
    }

    .room-description {
        display: flex;
        flex-flow: row;
        padding-left: 1rem;
        gap: 2.5rem;
    }

    .room-items {
        display: flex;
        flex-flow: column;
        color: #ffffff;
    }

    #first-room, #second-room, #third-room, #fourth-room {
        height: 21rem;
    }

    .why-text {
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 2rem;
    }

    .causes {
        flex-flow: column;
    }

    .particular-cause {
        margin-left: -12rem;   
    }

    .particular-cause img {
        margin-top: -1rem;
    }

    .cause-text {
        margin-top: 2rem;
        margin-left: -4rem;
        margin-right: -7rem;
        font-size: 1rem;
    }

    .activity-and-reconnect {
        display: flex;
        flex-flow: column;
    }

    .activity {
        background-color: rgb(5, 5, 104);
    }
    .activity-text {
        margin-top: 3rem;
        font-size: 1rem;
        color: orange;
        text-align: center;
    }

    .smile-text {
        margin-top: 1rem;
        font-size: 2rem;
        color: rgb(253, 251, 248);
        text-align: center;
    }

    .activity-paragraph {
        margin-top: 1rem;
        margin-left: 1.5rem;
        font-size: 0.9rem;
        color: rgb(252, 251, 249);
    }

    .activity-and-reconnect a {
        margin-top: 3.5rem;
        margin-left: 6rem;
        color: #ffffff;
        text-decoration: none;
    }

    .activity-and-reconnect img {
        max-width: 100%;
        width: 20rem;
    }

    .activity-and-reconnect ul {
        margin-top: 1.3rem;
    }

    .activity-and-reconnect li {
        color: #ffffff;
        font-size: 0.9rem;
    }

    .activity-and-reconnect button {
        border: 1px solid white;
        background-color: transparent;
        margin-top: 1.6rem;
        margin-left: 1.5rem;
        margin-bottom: 2rem;
        margin-right: 1rem;
        padding-left: -3rem;
        padding-right: 6rem;
        font-size: 0.6rem;
    }

    .reconnect {
        padding-top: -1rem;
    }

    .matters {
        font-size: 0.7rem;
        color:rgb(4, 4, 93);
        text-align: center;
        margin-top: 1.6rem;
    }

    .experience h3 {
        color:rgb(13, 13, 13);
        text-align: center;
        margin-top: 1.6rem;
        margin-bottom: -2rem;
    }

    .entertainment {
        display: flex;
        flex-flow: column;
        margin-top: 3rem;
    }

    .entertainment img {
        width: 19rem;
    }
    .entertainment h4 {
        margin-top: -0.4rem;
    }

    .entertainment-name {
        color: rgb(5, 5, 104);
    }

    .entertainment-description {
        font-size: 0.8rem;
        margin-top: 0.4rem;
        margin-left: -0.1rem;
    }

    .entertainment a {
        text-decoration: none;
        color: rgb(5, 5, 104);
        font-size: 0.8rem;
    }

    .entertainment-items {
        margin-top: 2.5rem;
        margin-left: 1rem;
    }

    .experience button {
        margin-top: 2rem;
        margin-left: 6rem;
        background-color: transparent;
        color: rgb(5, 5, 104);
    }

    .say-hello img {
        margin-top: 2rem;
        width: 19rem;
        position: relative;
    }

    .say-box {
        color: rgb(13, 13, 13);
        background-color: white;
        opacity: 0.8;
        position: absolute;
        margin-top: -14rem;
        margin-left: 1.5rem;
        padding-left: 0.7rem;
        width: 15rem;
        border: 1px solid black;

    }

    .say-box button {
        margin-bottom: 0.2rem;
        background-color: transparent;
        color: rgb(5, 5, 104);
    }

    .say-hello-description {
        font-size: 0.8rem;
    }

    .whole-new-you {
        margin-top: -1rem;
    }

    .customer-review {
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
        padding-top: 0.5rem;
        margin-top: -0.3rem;
        background-color: rgb(243, 243, 177);
    }

    .customers {
        display: flex;
        flex-flow: column;
        padding-top: 1rem;
    }

    .customer-identity {
        display: flex;
        gap: 1rem;
    }

    .customer-identity img{
        max-width: 100%;
        width:7rem;
        border-radius: 50%;
        margin-left: 1rem;
    }

    .customer-identity h4 {
        margin-top: 2rem;
        margin-bottom: -0.5rem;
    }

    .review-summary, .review {
        margin-left: 1rem;
    }

    .review {
        margin-top: 0.06rem;
        font-size: 0.8rem;
    }

    .getting-there {
        display: flex;
        flex-flow: column;
    }

    .getting-text {
        font-size: 0.6rem;
        margin-top: 1rem;
        margin-left: 6rem;
    }

    .routes h3{
        margin-top: -0.2rem;
        margin-left: 2rem;
    }

    .route-text {
        margin-left: 0.4rem;
        margin-right: -0.5rem;
        font-size: 0.8rem;
    }

    .vehicle {
        display:flex;
    }

    .vehicle img {
        width:3.5rem;
        height: 4rem;
        margin-top: 0.5rem;
    }

    .vehicle p {
        margin-top: 0.5rem;
        font-size: 0.7rem;
    }

    .routes a {
        text-decoration: none;
        color:rgb(5, 5, 104);
        font-size: 0.7rem;
        margin-top: 1rem;
        margin-left: 0.7rem;
    }

    .map-image {
        margin-top: 0.6rem;
    }

    .side-by-side {
        background-color: rgb(247, 216, 175);
        margin-top: -0.9rem;
    }

    .side-by-side h5 {
        margin-left: 5rem;
        color:rgb(5, 5, 104);
    }

    .side-by-side h4 {
        margin-top: 1rem;
        margin-left: 2rem;
        color:rgb(13, 13, 14);
    }

    .side-by-side p {
        text-align: center;
        font-size: 0.8rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .side-by-side button {
        text-align: center;
        font-size: 0.8rem;
        margin-left: 6rem;
        margin-bottom: 1rem;
        background-color: rgb(5, 5, 104);
        color: #ffffff;
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .side-images {
        display: flex;
        margin-top: 1rem;
    }

    .side-images img {
        width:21rem;
    }

    .side-pictures img {
        display: none;
    }

    .inbox h5 {
        text-align: center;
        color: rgb(5, 5, 104);
        font-size: 0.8rem;
    }

    .inbox h3 {
        text-align: center;
    }

    .inbox p {
        font-size: 0.4rem;
        text-align: center;
    }

    .mail-input {
        display: flex;
        flex-flow: column;
        border: 1px solid grey;
    }

    .mail-input input {
        border-style: hidden;
        margin-top: 1rem;
    }

    input::placeholder {
        text-align: center;
    }

    .mail-input button {
        background-color: rgb(5, 5, 104);
        color: #ffffff;
        margin: 1rem 3rem 2rem 3rem;
        padding: 1rem 0rem 1rem 0rem;
    }

    .footer {
        display: flex;
        flex-flow: column;
        background-color: rgb(5, 5, 104);
        color: #ffffff;
        margin-top: 0.7rem;
    }

    .footer-name, .sub-header, .footer-description, .follow, .about-footer {
        text-align: center;
    }

    .sub-header {
        margin-top: -1rem;
    }

    .footer-description {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 0.6rem;
    }

    .follow {
        display: flex;
        flex-flow: column;
    }

    .icons {
        display: flex;
    }

    .other-items{
        display: flex;
        flex-flow: column;
        margin-top: 3rem;
        gap: 0.6rem;
    }

    .about-footer {
        justify-content: space-between;
        margin-top: -1.7rem;
    }

    .about-footer a {
        margin-top: -3rem;
        color: grey;
        font-size: 0.6rem;
        text-decoration: none;
        margin-bottom: 1rem;
    }

    .about-footer a:hover {
        text-decoration: underline;
        color: #ffffff;
    }

    .about-footer p {
        font-size: 0.3rem;
    } 

    .about-footer h6 {
        font-size: 0.8rem;
        margin-bottom: 0.3rem;
    }

    .contact-us {
        color: #ffffff;
    }
}

@media screen and (min-width: 375px){

    .vacation {
        background-size: 24rem;
    }

    .about {
        color: rgb(244, 245, 248);
    }

    .enjoy-text {
        margin-top: 2.3rem;
    }

    .vacation-text {
        color:rgb(29, 237, 237);
    }

    .two-buttons {
        margin-top: 4rem;
        margin-left: 4rem;
    }

    .search-room {
        font-size: 2rem;
    }

    .check button {
        margin-right: -24rem;
    }

    .mikalto-text {
        margin-top: -0.8rem;
        font-size: 1.8rem;
    }

    .comfort-text {
        font-size: 1.8rem;
    }

    .welcome-images {
        margin-top: -3rem;
    }

    .hotel-view {
        margin-left: 2.8rem;
        margin-top: -4.9rem;
        margin-bottom: 11rem;
        width: 12rem;
    }

    .words-of-manager {
        margin-top: 1rem;
    }

    .welcome-passage-and-manager {
        margin-right: 3rem;
    }

    .sign-image {
        top: 12rem;
    }

    .rate {
        margin-left: 6.5rem;
    }

    .why-text {
        font-size: 1.7rem;
        margin-left: 1rem;
    }

    .particular-cause {
        margin-right: 3rem;
    }

    .activity-and-reconnect img {
        max-width: 100%;
        width: 26rem;
    }

    .activity-paragraph {
        margin-left: 1.5rem;
    }

    .activity button {
        font-size: 1rem;
    }

    .entertainment-items img {
        width: 22rem;
    }

    .say-hello img {
        width: 22.4rem;
    }

    .say-box {
        margin-top: -15rem;
        margin-bottom: -5rem;
        margin-left: 6rem;
        margin-right: -7rem;
    }

    .side-images img {
        width: 15rem;

    }

    .side-pictures img {
        display: block;
        width: 8.5rem;
    }

    .side-by-side h5 {
        margin-left: 6rem;
    }

    .side-by-side h4 {
        margin-left: 3rem;
    }

    .side-by-side button {
        margin-left: 8rem;
    }

    .about-footer p {
        font-size: 0.1rem;
    }

}

@media screen and (min-width: 425px){

    .vacation {
        background-size: 27rem;
    }

    .two-buttons {
        margin-top: 6rem;
    }

    .check button {
        margin-left: 1.4rem;
        padding-left: 8rem;
    }

    .words-of-manager {
        top:12rem;
        position: relative;
    }

    .welcome-passage-and-manager {
        margin-right: 3rem;
    }

    .sign-image {
        margin-top: -0.7rem;
    }

    .rate {
        margin-left: 8rem;
    }

    .entertainment-items img {
        width: 26rem;
    }

    .experience button {
        margin-left: 8rem;
    }

    .say-hello img {
        width: 25.6rem;
    }

    .say-box {
        margin-top: -17rem;
        margin-left: 9rem;
    }

    .side-images img {
        width: 16rem;

    }

    .side-pictures img {
        width: 11.4rem;
    }

    .side-by-side h5 {
        margin-left: 9rem;
    }

    .side-by-side h3 {
        margin-left: 6rem;
    }

    .side-by-side button {
        margin-left: 9rem;
    }

    .other-items {
        flex-flow: row;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

}

@media screen and (min-width: 768px){
    .mikalto {
        margin-left: -1.5rem;
    }
    
    .hotel-resort {
        margin-left: -1rem;   
    }

    .menu-items {
        display: block;
        justify-content: space-around;
        left: -5rem;
        margin-left: -0.1rem;
        margin-right: 2rem;
        font-size: 0.8rem;
    }

    .vacation {
        background-size: 66rem;
        flex-flow: row;
        margin-left: -2rem;
    }
    
    .about {
        font-size: 2rem;
        color: rgb(29, 237, 237);
        margin-top: 2rem;
        margin-left: 4rem;
    }

    .enjoy-text {
        color:rgb(250, 253, 253)
    }

    .beautiful-hideaway {
        margin-top: 2rem;
        font-size: 0.9rem;
    }
    
    .two-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        margin-left: 1rem;
        font-size: 0.8rem;
    }
    
    .two-buttons a:hover {
        color:rgb(4, 4, 93);
        background-color: #ffffff;
    }

    .search-room {
        margin-top: 3rem;
        margin-left: -4rem;
        margin-right: 5rem;
        border: 1px solid black;
    }

    .check button {
        margin-bottom: -2rem;
        margin-right: 1rem;
    }
    
    .welcome-lines {
        display:flex;
        flex-flow: column;
        margin-top: -0.1rem;
    }
    
    .welcome-text {
        font-size: 0.9rem;
    }
    
    .mikalto-text {
        font-size: 2rem;
        margin-top: -0.2rem;
    }
    
    .comfort-text {
        font-size: 2rem;
        margin-top: -2rem;
    }
    
    .welcome-passage-and-manager {
        margin-top: -14rem;
        margin-right: 10rem;
        font-size: 1rem;
    }

    .manager {
        margin-top: 5rem;
    }
    
    .sign-image {
        margin-top: -22rem;
        margin-bottom: 0.5rem;
        max-width: 100%;
        width: 10rem;
    }

    .welcome-images {
        margin-top: 13rem;
    }

    .man-cooking {
        margin-left: 3rem;
        margin-bottom: 7rem;
        width: 10rem;
    }

    .window-view {
        margin-bottom: 10rem;
        margin-left: 0.6rem;
        width: 10rem;
        height: 12rem;
    }
    
    .hotel-view {
        margin-left: 3rem;
        margin-top: -1rem;
        margin-bottom: 11rem;
        width: 20rem;
    }

    .standard {
        margin-top: 27rem;
    }

    .rate {
        margin-left: 19.5rem;
    }

    .room-summary {
        margin-left: -8rem;
    }

    .room-description {
        margin-left: 17rem;
    }

    .why-text {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .cause-text {
        font-size: 1.2rem;
    }

    .cause-name {
        font-size: 1.4rem;
    }
    
    .activity a{
        margin-left: 20rem;
    }
    .activity-and-reconnect img {
        width: 50rem;
    }

    .experience button {
        margin-left: 20rem;
    }

    .say-hello img {
        width: 47rem;
    }

    .say-hello p{
        font-size: 1rem;
    }

    .say-box {
        margin-left: 23rem;
        margin-top: -27rem;
        opacity: 1;
        height: 15rem;
        padding: 2rem 4rem 3rem 3rem;
    }

    .review, .review-summary {
        margin-left: 3rem;
    }

    .getting-text {
        text-align: center;
        margin-left: -1rem;
        font-size: 1rem;
    }

    .routes h3 {
        text-align: center;
        margin-left: -1rem;
        font-size: 2rem;
    }

   .route-text {
        font-size: 1rem;
   }

   .vehicle img {
        width: 6rem;
   }

   .map-image {
        width: 30rem;
        margin-left: 9rem;
   }

   .side-by-side h5{
        margin-top: -10rem;
        margin-left: 33rem;
   }

   .side-by-side h4 {
        margin-left: 29rem;
   }

   .side-by-side p {
        margin-left: 27rem;
   }

   .side-by-side button {
        margin-left: 33rem;
    }

   .other-items {
        margin-left: 8rem;
        gap: 4rem;
    }
}

@media screen and (min-width: 1024px){
    .header {
        display: flex;
        margin-left: 2rem;
        color: rgb(4, 4, 93);
    }
    
    .mikalto {
        font-size: 2rem;
        margin-left: 1rem;
    }
    
    .hotel-resort {
        margin-top: 0.3rem;
        margin-left: 1.7rem;
        font-size: 0.6rem;    
    }
    
    .menu-items {
        display: flex;
        justify-content: space-around;
        gap: 1.4rem;
        margin-top: 2.4rem;
        margin-left: 12rem;
    
    }
    
    .menu-items a {
        text-decoration: none;
        color: rgb(4, 4, 93);
    }
    
    .vacation {
        background-image: url("./images/resort.jpeg");
        display: flex;
        margin-left: 2rem;
        margin-right: 2rem;
        background-size: 125rem;
    }
    
    .about {
        display: flex;
        flex-flow: column;
        font-size: 2rem;
        color: rgb(4, 43, 43);
        margin-top: 8rem;
        margin-left: 7.8rem;
    }
    .vacation-text {
        margin-top: -1rem;
        color:rgb(18, 18, 19);
    }

    .enjoy-text, .vacation-text {
        color: #ffffff;
    }
    
    .beautiful-hideaway {
        display: block;
        margin-top: -0.3rem;
        font-size: 1rem;
        color: #ffffff;
    }
    
    .two-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 0.8rem;
        margin-left: -0.3rem;
        font-size: 0.8rem;
    }
    
    .two-buttons a {
        text-decoration: none;
        color: #ffffff;
    }
    
    .two-buttons a:hover {
        color:rgb(4, 4, 93);
        background-color: #ffffff;
    }
    
    .search-room {
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 7rem;
        margin-bottom: 4rem;
        padding: 1rem 4rem 2.5rem 2rem;
        background-color: #ffffff;
        font-size: 1.6rem;
        color:rgb(18, 18, 19);
    }
    
    .latest-response {
        margin-top: -1.2rem;
        font-size: 0.7rem;
    }
    
    .check-date {
        display:flex;
        font-size: 0.9rem;
        color: rgb(4, 4, 93);
        gap: 4rem;
    }
    
    .check-in-out {
        display: flex;
        flex-flow: column;
    }
    
    .tourists {
        display:flex;
        flex-flow: column;
        font-size: 0.9rem;
        margin-top: 1rem;
        color: rgb(4, 4, 93);
    }
    
    input {
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    
    select {
        border-top-style: hidden;
        border-left-style: hidden;
        border-right-style: hidden;
    }
    
    .check button{
        background-color: rgb(4, 4, 93);
        color: #ffffff;
        border: none;
        margin-top: 2rem;
        padding: 1rem 8rem 1rem 8rem;
    }
    
    .welcome {
        display: flex;
    }
    
    .welcome-lines {
        display:flex;
        flex-flow: column;
        margin-top: 8rem;
        margin-left: 4rem;
    }
    
    .welcome-text {
        font-size: 0.9rem;
    }
    
    .mikalto-text {
        font-size: 2rem;
        margin-top: -0.2rem;
    }
    
    .comfort-text {
        font-size: 2rem;
        margin-top: -2rem;
    }

    .welcome-passage-and-manager {
        margin-top: -13rem;
        margin-right: 40rem;
        font-size: 1rem;
    }

    .manager {
        margin-top: 5rem;
    }
    
    .sign-image {
        margin-top: -17rem;
        max-width: 100%;
        width: 10rem;
    }

    .man-cooking {
        margin-top: -10rem;
        margin-left: 31.5rem;
        width: 15rem;
    }
    
    .window-view {
        margin-top: -33rem;
        margin-bottom: 6rem;
        margin-left: 43rem;
        width: 20rem;
    }
    
    .hotel-view {
        margin-top: -21rem;
        margin-left: -27rem;
        margin-bottom: -6rem;
        width: 20rem;
    }
    
    .rate {
        margin-left: 27rem;
    }

    .room-description {
        margin-left: 24rem;
    }

    .why-text {
        margin-top: 2rem;
        margin-left: 3rem;
        font-size: 2rem;
    }
    
    .causes {
        display: flex;
        flex-flow: row;
        margin-left: 14rem;
        gap: 5rem;
    }

    .cause-text {
        margin-left: 0.1rem;
        margin-right: 1rem;
    }
    
    .causes img {
        max-width: 100%;
        width: 6rem;
        height: 5rem;
    }
    
    .particular-cause {
        display: flex;
        margin-left: -12rem;
    }
    
    .location-image {
        max-width: 100%;
        width: 6rem;
        height: 5rem;
    }

    .activity {
        padding-top: 8rem;
    }

    .activity-text {
        margin-left: 1rem;
    }

    .activity-paragraph {
        margin-left: 2rem;
        font-size: 1rem;
    }

    .about-activity, .about-reconnect {
        display: flex;
        flex-flow: row;
    }

    .activity a {
        margin-left: 2rem;
    }

    .about-activity img {
        width: 44rem;
    }

    .experience h3 {
        font-size: 2.4rem;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .experience button {
        margin-left: 26rem;
        margin-right: 12rem;
    }

    .entertainment {
        flex-flow: row;
        padding-left: 0.1rem;
        padding-right: 2rem;
        gap: 1rem;
        overflow-x: scroll;
    }

    .entertainment-items img {
        width: 20rem;
        height: 17rem;
    }

    .entertainment-description {
        margin-right: 1rem;
    }

    .say-hello img {
        max-width: 100%;
        width: 100rem;
        height: 50rem;
    }

    .say-box {
        margin-top: -34rem;
        margin-left: 30rem;
        margin-right: 4rem;
        margin-bottom: 8rem;
        width: 25rem;
        height: 20rem;
    }

    .customer-review {
        flex-flow: row;
    }

    .getting-there {
        flex-flow: row;
    }

    .map-image {
        margin-top: 11rem;
        margin-right: 6rem;
        width: 40%;
        height: 10%;
    }

    .routes {
        margin-left: 8rem;
    }

    .side-by-side h5 {
        margin-left: 40rem;
    }

    .side-by-side h4 {
        margin-left: 36rem;
    }

    .side-by-side button {
        margin-left: 41rem;
    }

    .mail-input {
        flex-flow: row;
        margin-left: 14rem;
        margin-right: 14rem;
    }

    .write-email {
        margin-left: 2rem;
    }

    .other-items {
        margin-left: 14rem;
    }
    
}

@media screen and (min-width: 1440px){
    .welcome-images
    {
        margin-left: 24rem;
    }

    .sign-image {
        margin-top: -21rem;
    }

    .manager {
        margin-bottom: 1rem;
    }


    .elegance {
        font-size: 2rem;
    }

    .standard-room {
        font-size: 3rem;
    }

    .rate {
        margin-left: 36rem;
        font-size: 2rem;
    }

    .room-summary {
        margin-left: 7rem;
        font-size: 1.6rem;
    }

    .room-description {
        margin-left: 33rem;
        font-size: 1.7rem;
    }

    .swiper-slide img {
        width: 0.3rem;
    }

    .why-text {
        margin-top: 1rem;
    }

    .smile-text {
        margin-left: -3rem;
    }

    .activity-paragraph {
        margin-left: 1rem;
    }

    .about-reconnect button {
        padding-left: -5rem;
        padding-right: 1rem;
    }

    .experience button {
        margin-left: 40rem;
    }

    .map-image {
        margin-top: 1rem;
    }

    .side-by-side h5 {
        margin-left: 54rem;
    }

    .side-by-side h4 {
        margin-left: 51rem;
    }

    .side-by-side button {
        margin-left: 55rem;
    }

    .mail-input {
        flex-flow: row;
        margin-left: 14rem;
        margin-right: 14rem;
    }

    .write-email {
        margin-left: 2rem;
    }

    .other-items {
        margin-left: 26rem;
    }
}